<div class="form-group form-radio {{!view.isValid ? 'has-error' : ''}}">
    <label class="control-label"><i data-ng-if="!view.isValid" class="material-icons md-14">warning</i> {{label}} <sup ng-if="req">*</sup></label>
    <div class="d-flex align-items-center {{elementclass}}" data-ng-repeat="option in options track by $index" data-ng-click="methods.select(option)">
        <div data-ng-if="model == option[property]"><i class="material-icons text-primary">radio_button_checked</i></div>
        <div data-ng-if="model != option[property]"><i class="material-icons text-muted">radio_button_unchecked</i></div>
        <div class="ml-1">{{option.name}}</div>
    </div>
</div>
