<div>
    <div data-ng-show="isDisplayed" class="alert" role="alert" data-ng-class="type ? 'alert-' + type : 'alert-dark'">
        <div class="d-flex align-items-center">
            <i class="material-icons mr-1 align-self-start" data-ng-bind="icon" data-ng-if="icon"></i>
            <span data-ng-if="icon">&nbsp;&nbsp;&nbsp;</span>
            <div>
                <h4 class="alert-heading" data-ng-if="title">{{title}}</h4>
                <div data-ng-bind-html="message"></div>
            </div>
            <i class="material-icons align-self-start ml-auto" ng-if="isClosable" data-ng-click="methods.close()">clear</i>
        </div>
    </div>
</div>
