<div>
    <table class="table table-vertical-center" ng-if="items.length">
        <thead>
            <tr>
                <th ng-repeat="column in columns" ng-click="methods.sortBy(column, methods.inverseWay(column))">
                    {{column | translate}}
                    <i ng-if="view.dimension == column && view.way == 'desc'" class="material-icons">arrow_downward</i>
                    <i ng-if="view.dimension == column && view.way == 'asc'" class="material-icons">arrow_upward</i>
                    <i ng-if="view.dimension != column" class="material-icons text-muted">arrow_drop_down</i>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items | orderBy: methods.order()">
                <td ng-repeat="column in columns">{{item[column]}}</td>
            </tr>
        </tbody>
    </table>
    <akk-alert title="{{'Aucun résultat trouvé !' | translate}}" ng-if="!items.length"></akk-alert>
    <hr />
<!--     <pre>{{view | json}}</pre>
    <pre>{{items | json}}</pre> -->
</div>