.form-colorpicker {
    .form-container {
        position: relative;
        border: solid $border-width $input-border-color;

        // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
        @if $enable-rounded {
            // Manually use the if/else instead of the mixin to account for iOS override
            border-radius: $input-border-radius;
        } @else {
            // Otherwise undo the iOS default
            border-radius: 0;
        }

        .color-picker-wrapper .input-group .input-group-addon {
            border: none;
        }

        .color-picker-wrapper .input-group .color-picker-input {
            border: none;
            width: 100%;
            padding: 0.375rem 0.75rem;

        }

        > .icon {
            position: absolute;
            top: 8px;
            right: 1rem;
            color: $blue;
            cursor: pointer;
            z-index: 1;
        }
    }
}