<div class="form-group well {{elementclass}}">
    <div class="row">
        <div class="col-md-6">
            <p>{{label}}</p>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-link" ng-click="substract()">
                <i class="material-icons">remove</i>
            </button>
        </div>
        <div class="col-md-2">  
            <p>{{model}}/{{max}}</p>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-link" ng-click="add()">
                <i class="material-icons">add</i>
            </button>
        </div>
    </div>
</div>