<div class="modal-header">
    <h4 class="modal-title">{{view.placeholder}}</h4>
    <button type="button" class="close" ng-click="methods.close()" aria-label="Close">
        <span aria-hidden="true">
            <i class="material-icons md-24">clear</i>
        </span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group" ng-show="view.options.length > 10">
        <input type="text" placeholder="{{'Recherchez...'| translate}}" ng-model="keywords" akk-AutoFocus class="form-control" />
    </div>
    <div class="form-options">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" ng-repeat="option in view.options| filter: keywords | orderBy:(view.orderBy) ? orderBy : view.fields[0]" ng-click="methods.select(option)" ng-class="view.item.id == option.id ? 'active':''">
                <span ng-include="methods.template.get()"></span>
            </li>
        </ul>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="methods.valid()" ng-disabled="view.item.id == null" translate>Sélectionner</button>
</div>